#content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
}

#button-container {
    display: flex;
    gap: 20px;
}

#wha{
    width: 200px;
    height: 180px;
}

body {
     background-image: url("heart.GIF"); /*You can change this image */
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
}

.button {
    width: 75px;
    height: 40px;
    background-color: rgb(239, 103, 144);
    color: aliceblue;
    border-radius: 15px;
    border: 0px solid aliceblue;
}

.gif-container {
    display: none;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 70px; 
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.gif {
    width: 100px;
    height: auto;
}